@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Cinzel:wght@500&display=swap');

#content{
  max-width: 1500px;
  margin: 0 auto;
}
footer h1{
  font-family: Cinzel;
  color: white;
}
h2, h3{
  font-family: Cinzel;
}
body{
  font-family: Assistant;
  margin: 0;
  padding: 0;
}
.logo{
  width: 600px;
  margin: -20px auto;
}
header{
  margin: auto;
  text-align: center;
  background-color: #433E3F;
  z-index: 2;
  padding-bottom: 10px;
}
footer{
  display: flex;
  justify-content:space-around;
  align-items: center;
  /* margin: auto; */
  text-align: center;
  background-color: #433E3F;
  z-index: 2;
}
footer a{
  text-align: center;
  text-decoration: none;
  /* font-family: Cinzel; */
  color: white;
}
footer a:hover{
  color: #C69C72;
}
footer p{
  color: white;
}
nav a{
  text-align: center;
  text-decoration: none;
  font-family: Cinzel;
  color: white;
  padding: 10px 50px;
  font-size: 1.5em;
}
nav a:hover{
  background-color: #C0B7B1;
  color: black;
}
.social img{
  width: 60px;
  text-align: center;
}
#about-container{
  display: flex;
  margin: 150px auto;
  padding: 50px;
}
#about-img{
  width: 50%;
  /* margin-right: 5%; */
  text-align: center;
}
#about-img img{
  box-shadow: 5px 5px 10px #433E3F;
}
#about-me{
  width: 50%;
  /* margin-left: 5%; */
  padding: 0 10%;
}
h2{
  color: #8E6E53;
  font-family: Cinzel;
}
.book-button{
  text-align: center;
  margin-top: 75px;
}
.book, .see-more{
  background-color: #C69C72;
  color: #433E3F;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 5px;
}
.book:hover, .see-more:hover{
  color: white;
}
.teaser-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 300px auto 200px auto;
  padding: 0px 150px;
}
.teaser1{
  grid-column: 1 / 2;
}
.teaser1 img{
  width: 400px;
  z-index: -1;
  box-shadow: 5px 5px 10px #433E3F;
}
.name1{
  text-align: right;
  font-size: 1.5em;
  color: black;
  text-shadow: 0px 0px 5px white;
  margin-bottom: -200px;
  margin-right: -85px;
  position: relative;
  z-index: 1;
}
.teaser2{
  grid-column: 2 / 3;
  grid-row: 2/3;
  position: relative;
  z-index: 0;
}
.name2{
  text-align: right;
  align-self: center;
  position: relative;
  z-index: 1;
  font-size: 1.5em;
  color: black;
  text-shadow: 0px 0px 5px white;
  margin-right: -20px;
}
.teaser2 img{
  width: 400px;
  margin: -300px -50px 0px;
  z-index: -1;
  box-shadow: 5px 5px 10px #433E3F;
}
.see-more-text{
  grid-column: 3 / 4;
  text-align: right;
  padding: 25px;
  margin-top: -50px;
}
.see-more-button{
  grid-column: 1 / 2;
  grid-row: 2/3;
  text-align: center;
  margin-top: 150px;
  margin-right: 50px;
}
#gallery-page{
  text-align: center;
}
#gallery-page h1{
  text-align: center;
  color: #8E6E53;
  font-size: 2.5em;
  margin: 100px auto 0px;
  text-align: center;
  font-family: Cinzel;
}
#gallery-page div{
  padding: 150px;
  align-items: center;
}
#gallery-page img{
  max-width: 580px;
  vertical-align: middle;
}


/* Everything below this is for the Contact page, except for the slideshow css at the bottom */
#contact-container h1{
  color: #8E6E53;
  font-size: 2.5em;
  margin: 80px auto 50px;
  text-align: center;
  font-family: Cinzel;
}
#contact-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 10px solid #C0B7B1;
  width: 80%;
  min-width: 1050px;
  margin: 50px auto 75px;
  text-align: center;
}
#form-box{
  text-align: left;
  margin: 50px;
}
#form-box h2{
  font-size: 2em;
  margin: 50px 15px;
}
address{
  margin: 50px 15px;
  font-style: normal;
}
address p{
  font-size: 1.25em;
}
address p a{
  text-decoration: none;
  color: black;
}
.events-img{
  display: block;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
form li + li {
  margin-top: 1em;
}
label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 75px;
  text-align: right;
  font-size: 1.25em;
  font-family: Assistant;
}
input,
textarea {
/* To make sure that all text fields have the same font settings
    By default, textareas have a monospace font */
  font-size: 1.25em;

/* Uniform text field size */
  width: 70%;
  box-sizing: border-box;

/* Match form field borders */
  border: 2px solid #C69C72;
}
textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  
  /* Provide space to type some text */
  height: 10em;
}
.button-box{
  text-align: right;
  padding-right: 70px;
}
.button {
  /* Align buttons with the text fields */
  /* padding-top: 20px;
  padding-right: 65px; same size as the label elements */
  text-align: right;
  background-color: #C69C72;
  border: none;
  color: #433E3F;
  padding: 10px 26px;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.button:hover{
  color: white;
}




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  z-index: -1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
/* .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
} */

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
.text {
  color: white;
  font-family: Assistant;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  background-color: #433e3f57;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  display: none;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}