#hero{
    width: 100%;
}
body{
    background-color: rgb(119, 118, 118);
    margin: 0;
}
section img{
    width: 20%;
    border-radius: 50%;
    border: 20px solid rgb(68, 68, 68);
    margin: 80px 60px;
}
section{
    margin: 0 auto;
    text-align: center;
}